[Desktop Entry]
Name[en_US]=RefDistiller
Exec=gnome-terminal -e "bash -c 'sudo /home/vagrant/Desktop/commands.sh;$SHELL'"
Terminal=true
Type=Application
