[Desktop Entry]
Encoding=UTF-8
Name=RefDistillerAuthorDemonstration
Type=Link
URL=https://www.youtube.com/watch?v=0Iseoc5HRpU&feature=youtu.be
Icon=text-html
Name[en_US]=RefDistillerAuthorDemonstration.desktop
